.form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background: #e5e5e5; */
    border-radius: 12px;

}

.add_answer{
    text-align: end;
    margin: 10px;
    color: #fcaa26;
    cursor: pointer;
}